@charset "utf-8";
/* CSS Document */

body {
}
#container {
	width: 960px;
	text-align: center;
	margin: 0 auto;
}
#logo {
	display: inline-block;
	width: 610px;
	height: 84px;
	background: url("../img/logo.png") no-repeat 0 0;
}
#logo span {
	position: absolute;
	top: -999em;
}
#term {
	width: 630px;
}
#search {
	font-family: Verdana;
}